.footer {
  padding: 25px 0;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    .copy {
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      .item {
        .elem {
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
