html,
body {
  font-size: 16px;
  font-style: normal;
  font-family: 'Montserrat';
  background-color: #000;
  color: #fff;
}

.page-width {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1340px;
}