.banner {
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .image_wrapper {
      width: 100%;
      max-width: 50%;
      flex: 1 1 50%;
      .image {
        position: relative;
        width: 100%;
        padding-bottom: 65%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .box {
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
      }
    }
    .text_wrapper {
      width: 100%;
      max-width: 50%;
      flex: 1 1 50%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      align-self: center;
      .title {
        width: 100%;
        font-size: 48px;
        font-style: italic;
        font-weight: 700;
        line-height: 48px; /* 100% */
        letter-spacing: 7.68px;
      }
      .content {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 100% */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 20px;
        margin: 32px 0;
        width: 100%;
        span {
        }
      }
      .size {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        select {
          color: #fff;
          max-width: fit-content;
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 36px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          cursor: pointer;
        }
      }
      .color {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        & > span {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .avalible_color {
          display: flex;
          align-items: center;
          column-gap: 10px;
          span {
            width: 14px;
            height: 14px;
            border: 2px solid #fff;
            display: block;
            border-radius: 50%;
            cursor: pointer;
            &.color_active {
              border: 2px solid gold;
            }
          }
        }
      }
      .add {
        transition: transform 0.3s ease;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .more {
      border-radius: 36px;
      border: 1px solid #fff;
      width: fit-content;
      padding: 6px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      cursor: pointer;
      svg {
        transition: transform 0.3s ease;
      }
      &:hover svg {
        transform: rotate(30deg);
      }
    }
  }
}

input {
  width: 100%;
}

input[type=range] {
  -webkit-appearance: none;
  height: 1px;
}
input[type=range]::-webkit-slider-container {
  height: 1px;
  background-color: transparent;
  border-top-left-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  background: url("../../assets/media/360.svg") center center no-repeat; ;
}

@media (max-width: 998px) {
  .banner {
    .container {
      flex-direction: column;
      row-gap: 20px;
      column-gap: 0px;
      .text_wrapper,
      .image_wrapper {
        width: 100%;
        max-width: 100%;
        flex: 1 1 100%;
      }
    }
  }
}
